################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ACM/Debug
/ACM/ACM.VC.db
/ACM/ACM.VC.VC.opendb
